body{
    font-family: Quicksand;
    --schriftfarbe:#232B2B;
    --hintergrund: #D8EBEB;
    --hauptfarbe: #B2D8D8;
}

#body::-webkit-scrollbar {
  display: none;
}

.navbar-brand {
    margin-left: 1vw;
    font-weight: 600;
    color:var(--schriftfarbe);
    font-size:42px;
}

.navi{
    background-image: linear-gradient(180deg, var(--hauptfarbe), 60%, var(--hintergrund));
    font-size:24px;

}

.nav-linki:hover {
    color:white;
    font-weight: 600;

}

/*Überschriften */
h1{
    font-size: 32px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 18.72px
}

/* Seitennavigation */
.page-pick .dropdown-menu {
    max-height: 200px;
    overflow: auto;
    background-color: #fbfbfb;
    
}

/*
Da man Bootstrap-Klassen nicht so leicht überschreiben kann, einfach kopieren und ändern
- andernfalls einfach Bootstrap als Datei downloaden und selber modifizieren (nav-link->i).
Hier wollte er die Farbe sonst nicht ändern
 */
.nav-linki {
    color:var(--schriftfarbe);
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

}

/* Disabled Link Navbar */
.nav-linkd {
    color: #475656;
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    pointer-events: none;

}

#erm-abbildung-uni {
    height: auto;
    width: auto\9;
    max-width: 50vw;
}

#content {
    background-color: var(--hintergrund);
    padding:16px;
    border:solid rgba(128, 128, 128, 0.42);
    border-radius: 16px;
    box-shadow: 5px 3px 6px 1px rgba(112,128,144,0.82);
    margin:4vh 5vw;
    display:block;
    overflow:auto;
    min-height:42vh;
}

.bg:hover {
    background-image: linear-gradient(180deg, var(--hauptfarbe), var(--hintergrund));

}

.kleine_ueber {
    font-weight: 600;
}

p {
    margin:1vw;
}

.fragenblock {
    border: dotted var(--hauptfarbe)  4px;
    padding:1vw;

}

.antworten {
    padding:4px;
    display:flex;
    flex-direction: column;
}
.antwort {
    margin: 1vw;
    border-radius: 6px;
    background-color:rgba(255, 255, 255, 0.8);
}

.sql-answer {
    padding: 12px;
    font-size: 18px;
}

.hide {
    display: none;
}

#correctStatement {
    background-color: #53c553;
}

.right-background-color {
    background-color: #53c553;
}

/* quizbutton {
    display:inline-block;
    float:right;
} */

/* Formatierung des Abschlussquizzes nach dem Template von Gruppe 7*/

#quiz {
    display:none;
}

.quizantwort {
    margin:12px;
    border-radius: 4px;
    border: solid 2px rgba(128, 128, 128, 0.66);
    padding:6px 6px 6px 16px ;
    font-size: medium;
    background-color: #b2d8d8;
    font-weight: bold;
}

.wahreAntwort {
    background-color: rgba(60, 207, 60, 0.7);
    font-weight: 700;
    font-size: large;
    color:green;
}

.falscheAntwort {
    background-color: rgba(186, 23, 51, 0.5);
    text-decoration: line-through;
    color:red;
}

.selected {
    background-color: #8eacac;
}

.richtigBeantwortet {
    border: solid 4px rgba(11, 174, 11, 0.7);
    background-color: rgba(144, 238, 144, 0.8);
}

.nichtBeantwortet {
    border: dashed 2px rgba(207, 8, 44, 0.8);
}

.falschBeantwortet {
    border: dashed 2px red;
}

.allesrichtig {
    border: dashed 4px green;
    background-color: rgba(144, 238, 144, 0.5);
}

.richtigIgnoriert {
    border: solid 4px rgba(196, 116, 116, 0.7);
    background-color: rgba(186, 23, 51, 0.1);
    text-decoration: line-through;
}

#erfolgsnachricht {
    font-weight: bolder;
    color: rgba(33, 102, 4, 0.8);
    font-size:xx-large;
}

/* Hervorhebung richtiger und falscher Antworten beim Aufgabentyp Listenauswahl */
.list-correct {
    color: #fff;
    border: 1px solid #198754;
    background-color: #198754;
}

.list-wrong {
    color: #fff;
    border: 1px solid #dc3545;
    background-color: #dc3545;
}

/* Code Formatierung beim Aufgabentyp Listenauswahl */
.list-code {
    color: #586C6C;
    line-height: 300%;
}

/* Code Farbe innerhalb von Text */
.normal-code {
    color: #586C6C;
}

/* Code Farbe auf Buttons beim Aufgabentyp Single Choice */
.sc-code {
    color: #232B2B;
}

/* Klasse zur Hervorhebung richtiger Antworten */
.correct {
	color: #008000;
	border: 1px solid 008000;
	background-color: 008000;

}

/* Klasse zur Hervorhebung falscher Antworten */
.wrong {
	color: #FF0000;
	border: 1px solid FF0000;
	background-color: FF0000;
}
/* Venn Diagramm */
.VenContainer {
	background-color: #cccccc;
}
.vennDiagramm1 {
	background-color: yellow;
	border-radius: 50% 0 0 50%;
}
.vennDiagramm2 {
	background-color: #008000;
}
.vennDiagramm3 {
	background-color: blue;
	border-radius: 0 50% 50% 0;
}
.glossar .panel {
	margin-bottom: 0;
}

.buttonsLGAnsicht a {
	margin-right: 5px;
}
/* Drag & Drop Tabelle */
.fixed-td-width td {
	width: 33%;
	height: 70px;
}

@media(max-width: 768px) {
	.fixed-td-width td {
		width: 33%;
		height: 100px;
	}
}

.draggable {
	cursor: move;
}

code {
	color: #0186BC;
}

hr {
	border-top: 1px solid #000;
}

.aufgabe2 {
	margin-top: 50px;
}

#lueckentext>.selects {
	display: inline;
	width: auto;
}

.marked {
	background-color: #0186BC;
}

#cursor-change > strong {
	cursor: pointer;
}

.mbs {
	margin-bottom: 10px;
}

/* Hervorhebung durch blau 
.highlight {
    color: #0186BC;
}

video {
    border: 1px solid #333;
}


@media (min-width: 1200px) {
video {
  min-width: 500px;
}
}

.aufgabe1 {
    margin: 0px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(190,220,220);
    border: 1px solid black;
}
