body{
    font-family: Quicksand;
    --schriftfarbe:#232B2B;
    --hintergrund: #D8EBEB;
    --hauptfarbe: #B2D8D8;
}

#body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3 {
}

.navbar-brand {
    margin-left: 1vw;
    font-weight: 600;
    color:var(--schriftfarbe);
    font-size:42px;
}

.navi{
    background-image: linear-gradient(180deg, var(--hauptfarbe), 60%, var(--hintergrund));
    font-size:24px;

}

.nav-linki:hover {
    color:white;
    font-weight: 600;

}

/*
Da man Bootstrap-Klassen nicht so leicht überschreiben kann, einfach kopieren und ändern
- andernfalls einfach Bootstrap als Datei downloaden und selber modifizieren (nav-link->i).
Hier wollte er die Farbe sonst nicht ändern
 */
.nav-linki {
    color:var(--schriftfarbe);
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

}

#content {
    background-color: var(--hintergrund);
    padding:4%;
    border:solid rgba(128, 128, 128, 0.42);
    border-radius: 16px;
    box-shadow: slategray 6px 8px 4px 6px;
    margin:4vh 5vw;
    display:block;
    overflow:auto;
    min-height:42vh;
}

.bg:hover {
    corner-radius:4px;
    background-image: linear-gradient(180deg, var(--hauptfarbe), var(--hintergrund));

}

.kleine_ueber {
    font-weight: 600;
}

p {
    margin:1vw;
}

.fragenblock {
    border: dotted var(--hauptfarbe)  4px;
    padding:1vw;

}

.antworten {
    padding:4px;
    display:flex;
    flex-direction: column;
}
.antwort {
    margin: 1vw;
    border-radius: 6px;
    background-color:rgba(255, 255, 255, 0.8);
}

quizbutton {
    display:inline-block;
    float:right;
}
/* Klasse zur Hervorhebung richtiger Antworten */
.correct {
	color: #008000;
	border: 1px solid 008000;
	background-color: 008000;

}

/* Klasse zur Hervorhebung falscher Antworten */
.wrong {
	color: #FF0000;
	border: 1px solid FF0000;
	background-color: FF0000;
}
/* Venn Diagramm */
.VenContainer {
	background-color: #cccccc;
}
.vennDiagramm1 {
	background-color: yellow;
	border-radius: 50% 0 0 50%;
}
.vennDiagramm2 {
	background-color: #008000;
}
.vennDiagramm3 {
	background-color: blue;
	border-radius: 0 50% 50% 0;
}
.glossar .panel {
	margin-bottom: 0;
}

.buttonsLGAnsicht a {
	margin-right: 5px;
}
/* Drag & Drop Tabelle */
.fixed-td-width td {
	width: 33%;
	height: 70px;
}

@media(max-width: 768px) {
	.fixed-td-width td {
		width: 33%;
		height: 100px;
	}
}

.draggable {
	cursor: move;
}

code {
	color: #0186BC;
}

hr {
	border-top: 1px solid #000;
}

.aufgabe2 {
	margin-top: 50px;
}

#lueckentext>.selects {
	display: inline;
	width: auto;
}

.marked {
	background-color: #0186BC;
}

#cursor-change > strong {
	cursor: pointer;
}

.mbs {
	margin-bottom: 10px;
}
/* Hervorhebung durch blau */
.highlight {
    color: #0186BC;
}

video {
    border: 1px solid #333;
}


@media (min-width: 1200px) {
video {
  min-width: 500px;
}
}

.aufgabe1 {
    margin: 0px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(190,220,220);
    border: 1px solid black;
}
