body{
    font-family: Quicksand;
    --schriftfarbe:#232B2B;
    --hintergrund: #D8EBEB;
    --hauptfarbe: #B2D8D8;

}

#body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3 {
}

.navbar-brand {
    margin-left: 1vw;
    font-weight: 600;
    color:var(--schriftfarbe);
    font-size:42px;
}

.navi{
    background-image: linear-gradient(180deg, var(--hauptfarbe), 60%, var(--hintergrund));
    font-size:20px;
    border-radius: 0px 0px 10px 20px;

}

.nav-linki:hover {
    color:white;
    font-weight: 600;

}

/*
Da man Bootstrap-Klassen nicht so leicht überschreiben kann, einfach kopieren und ändern
- andernfalls einfach Bootstrap als Datei downloaden und selber modifizieren (nav-link->i).
Hier wollte er die Farbe sonst nicht ändern
 */
.nav-linki {
    color:var(--schriftfarbe);
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

}

#content {
    background-color: var(--hintergrund);
    padding:4%;
    border:solid rgba(128, 128, 128, 0.42);
    border-radius: 32px;
    box-shadow: slategray 6px 8px 4px 6px;
    margin:4vh 5vw;
    display:block;
    overflow:auto;
    min-height:42vh;
}

.bg:hover {
    corner-radius:4px;
    background-image: linear-gradient(180deg, var(--hauptfarbe), var(--hintergrund));

}

.kleine_ueber {
    font-weight: 600;
}

p {
    margin:1vw;
}

.fragenblock {
    border: dotted var(--hauptfarbe)  4px;
    padding:1vw;

}

.antworten {
    padding:4px;
    display:flex;
    flex-direction: column;
}
.antwort {
    margin: 1vw;
    border-radius: 6px;
    background-color:rgba(255, 255, 255, 0.8);
}

quizbutton {
    display:inline-block;
    float:right;
}

.hr-line{
    width: 60%;
    margin: auto;
  
  }
  /* Style the buttons that are used to open and close the glossar body */
  .glossar-wort {
      /* background-color: #eee; */
      color: #444;
      cursor: pointer;
      padding: 30px 20px;
      width: 60%;
      border: none;
      outline: none;
      transition: 0.4s;
      margin: auto;
  }
  .glossar-definition {
      margin: auto;
      /* text-align: center; */
     width: 50%;
     padding: auto;
  
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active,
  .glossar-wort:hover {
      background-color: #F9F9F9;
  }
  /* Style hidden by default */
  .glossar-definition {
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
  }
  .glossar-wort:after {
      content: '\02795';
      /* "plus" sign (+) */
      font-size: 13px;
      color: #777;
      float: right;
      margin-left: 5px;
  }
  .active:after {
      content: "\2796";
      /* - Zeichen */
  }