body{
    font-family: Quicksand;
    --schriftfarbe:#232B2B;
    --hintergrund: #D8EBEB;
    --hauptfarbe: #B2D8D8;
}

#body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3 {
}

.navbar-brand {
    margin-left: 1vw;
    font-weight: 600;
    color:var(--schriftfarbe);
    font-size:42px;
}

.navi{
    background-image: linear-gradient(180deg, var(--hauptfarbe), 60%, var(--hintergrund));
    font-size:24px;

}

.nav-linki:hover {
    color:white;
    font-weight: 600;

}

/*
Da man Bootstrap-Klassen nicht so leicht überschreiben kann, einfach kopieren und ändern
- andernfalls einfach Bootstrap als Datei downloaden und selber modifizieren (nav-link->i).
Hier wollte er die Farbe sonst nicht ändern
 */
.nav-linki {
    color:var(--schriftfarbe);
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

}

#content {
    background-color: var(--hintergrund);
    padding:4%;
    border:solid rgba(128, 128, 128, 0.42);
    border-radius: 16px;
    box-shadow: slategray 6px 8px 4px 6px;
    margin:4vh 5vw;
    display:block;
    overflow:auto;
    min-height:42vh;
}

.bg:hover {
    corner-radius:4px;
    background-image: linear-gradient(180deg, var(--hauptfarbe), var(--hintergrund));

}

.kleine_ueber {
    font-weight: 600;
}

p {
    margin:1vw;
}

.fragenblock {
    border: dotted var(--hauptfarbe)  4px;
    padding:1vw;

}

.antworten {
    padding:4px;
    display:flex;
    flex-direction: column;
}
.antwort {
    margin: 1vw;
    border-radius: 6px;
    background-color:rgba(255, 255, 255, 0.8);
}

.quizbutton {
    display:inline-block;
    float:right;
}

.hr-line {
    width: 60%;
    margin: auto;
  }

  /* Container der Wörter */
  .glossar-wort {
      color: #232B2B;
      cursor: pointer;
      padding: 30px 20px;
      width: 60%;
      border: none;
      outline: none;
      transition: 0.4s;
      margin: auto;
  }
  
  .glossar-definition {
    margin: auto;
    /* Definition des Wortes wird mittig unter dem Wort angezeigt. Die Definition ist responsive */
    padding: auto;
}

  /* Hovert der Benutzer über das Feld, wird es wie in der NavBar hell hervorgehoben */
  .glossar-wort:hover {
      background-color: #F9F9F9;
      /* runde Ecken, sodass es zum Grundgerüst passt */
      border-radius: 6px;
  }

  /* Design der Definition */
  .glossar-definition {
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
      /* runde Ecken der Definition */
      border-radius: 6px;
  }

  .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #7c9797;
}

/* Fürs Quiz */

.fragenblock {
    border: dotted var(--hauptfarbe)  4px;
    padding:1vw;

}

.antworten {
    padding:4px;
    display:flex;
    flex-direction: column;
}
.antwort {
    margin: 1vw;
    border-radius: 6px;
    background-color:rgba(255, 255, 255, 0.8);
}

.quizantwort {
    margin:12px;
    border-radius: 4px;
    border: solid 2px rgba(128, 128, 128, 0.66);
    padding:6px 6px 6px 16px ;
    font-size: medium;
    background-color: lightgray;
    font-weight: bold;
}


.wahreAntwort {
    background-color: rgba(60, 207, 60, 0.7);
    font-weight: 700;
    font-size: large;
    color:green;
}
.falscheAntwort {
    background-color: rgba(186, 23, 51, 0.5);
    text-decoration: line-through;
    color:red;
}

.selected {
    background-color: rgba(23, 85, 186, 0.5);
}

.richtigBeantwortet {
    border: solid 4px rgba(11, 174, 11, 0.7);
    background-color: rgba(144, 238, 144, 0.8);
}


.nichtBeantwortet {
    border: dashed 2px rgba(207, 8, 44, 0.8);
}


.falschBeantwortet {
    border: dashed 2px red;
}

#quiz {
    display:none;
}

.allesrichtig {
    border: dashed 4px green;
    background-color: rgba(144, 238, 144, 0.5);
}
.richtigIgnoriert {
    border: solid 4px rgba(196, 116, 116, 0.7);
    background-color: rgba(186, 23, 51, 0.1);
    text-decoration: line-through;
}

#erfolgsnachricht {
    font-weight: bolder;
    color: rgba(33, 102, 4, 0.8);
    font-size:xx-large;
}