body {
    font-family: Quicksand;
    --schriftfarbe: #232B2B;
    --containerfarbe: #D8EBEB;
    --verlinkungsfarbe: #DEC6AC;
    --verlinkungaktiv: #8EACAC;
    
}
.row {
    padding-top: 1vw;
}


/**Loslegen Button**/
.button-loslegen {
    color: var(--schriftfarbe);
    text-decoration: none;
    font-family: Quicksand;
    font-size: x-large;
    padding: 2px;
    background-color: var(--containerfarbe);
    border-radius: 10%;
    border: solid 2px var(--schriftfarbe);
}
.button-loslegen:hover {
    color: var(--verlinkungsfarbe);
}

/**Quicksand**/
h1, h2, h3, h4, p, li, button, span, .form-select {
    font-family: Quicksand;
}




/**Navigationsleiste**/
.navbar > h1, h2, h3, h4 {
    padding:1vw; /*1% of view port width */
    color: var(--schriftfarbe);
    

}

.navbar {
    background-color: var(--containerfarbe);
    position: sticky;
    margin-left: -1vw;
    margin-right: -1vw;
}


.navbar-nav > li > a{
    color: var(--schriftfarbe);
    transition: color 0.3s;
}
.navbar-nav > li > ul{
    background-color: #D8EBEB;
    border-top: none;
    border-bottom: none;
}

.navbar-nav > li > a:hover{
    color: var(--verlinkungaktiv);
}
.navbar-toggler-icon {
    color: var(--schriftfarbe);
}



/**Seitennavigation**/
.page-navigation-row {
    position: absolute;
    bottom: 0px;
    background-color: #8EACAC;
}
.dropup-navigation {
    max-height: 300px;
    overflow: auto;
  }

.page-navigation {
    background-color: var(--containerfarbe);
}



.button {
    padding: 0.5vw;
    border-radius: 10px;
    background-color: var(--containerfarbe);
    color: var(--schriftfarbe);
    border-color: var(--schriftfarbe);
}
.button:hover {
    color: var(--containerfarbe);
    background-color:  var(--schriftfarbe);
}

table{
    background-color: var(--containerfarbe);
    text-align: center;
}
