/*Hauptfarben*/
body {
    font-family: Quicksand;
    --schriftfarbe: #232B2B;
    --containerfarbe: #D8EBEB;
    --verlinkungsfarbe: #DEC6AC;
    --verlinkungaktiv: #8EACAC;
    
}

/*Abstand zwischen Bootstrap Grid Zeilen*/
.row {
    padding-top: 1vw;
}


/**Loslegen Button**/
.button-loslegen {
    color: var(--schriftfarbe);
    text-decoration: none;
    font-family: Quicksand;
    font-size: x-large;
    padding: 2px;
    background-color: var(--containerfarbe);
    border-radius: 10%;
    border: solid 2px var(--schriftfarbe);
}
.button-loslegen:hover {
    color: var(--verlinkungsfarbe);
}


/**Quicksand**/
h1, h2, h3, h4, p, li, button, span, .form-select {
    font-family: Quicksand;
}


/**Navigationsleiste**/
.navbar > h1, h2, h3, h4 {
    padding:1vw; /*1% of view port width */
    color: var(--schriftfarbe);
    

}
/*Farbe und Position*/
.navbar {
    background-color: var(--containerfarbe);
    position: sticky;
    margin-left: -1vw;
    margin-right: -1vw;
}

/*Menüpunkt farben und Transition zum sanftem Farbübergang bei Hover*/
.navbar-nav > li > a{
    color: var(--schriftfarbe);
    transition: color 0.3s;
}
/*Moduldropdown einstellungen*/
.navbar-nav > li > ul{
    background-color: #D8EBEB;
    border-top: none;
    border-bottom: none;
}
/*Farbe der Menüpunkte bei hover*/
.navbar-nav > li > a:hover{
    color: var(--verlinkungaktiv);
}
/*Hamburger Icon Farbe bei kleinem Bildschirm*/
.navbar-toggler-icon {
    color: var(--schriftfarbe);
}



/**Seitennavigation**/
.page-navigation-row {
    position: absolute;
    bottom: 0px;
    background-color: #8EACAC;
}
/*Designfehler der alten Seite beheben durch begrenzte Höhe der Seitennavigation*/
.dropup-navigation {
    max-height: 300px;
    overflow: auto;
  }

.page-navigation {
    background-color: var(--containerfarbe);
}


/*"Überprüfen" Buttoneinstellungen*/
.button {
    padding: 0.5vw;
    border-radius: 10px;
    background-color: var(--containerfarbe);
    color: var(--schriftfarbe);
    border-color: var(--schriftfarbe);
}
.button:hover {
    color: var(--containerfarbe);
    background-color:  var(--schriftfarbe);
}

/*Tabellenfarbe*/
table{
    background-color: var(--containerfarbe) ;
    text-align: center;
}


/**Beschränkungen der Bildergrößen**/
#venn-diagramm {
    max-height: 450px;
    width: auto;
}
#uni-logo {
    width: 90px; 
    height: 70px;
    padding-right: 20px; 
}

#ir3_cloud {
    max-height: 400px;
}
